# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Database
db.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Static collected files
staticfiles/

# Media uploads
media/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage/test
.coverage
htmlcov/

# Migrations cache
*.pyo