{% extends 'notes/base.html' %}
{% block content %}

<h2> Your notes </h2>
{% for note in page_obj %}
    <p><b> {{ note.Title }} </b></p>
    <p> {{ note.Note }} </p>
{% endfor %}

<form method="GET">
    <input type="text" name="search" value="{{ search_query }}" placeholder="search note">
    <button type="submit">Search</button>

</form>



<div>

{% if page_obj.has_previous %}
    <a href="?page=1">First</a>

    <a href="?page={{ page_obj.previous_page_number }}">
        Previous
    </a>
{% endif %}

<span>
    Page {{ page_obj.number }}
    of
    {{ page_obj.paginator.num_pages }}
</span>

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">
        Next
    </a>

    <a href="?page={{ page_obj.paginator.num_pages }}">
        Last
    </a>
{% endif %}

</div>
{% endblock %}

